@model ToDoTaskSolution.Entities.Todotask;

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Task</h1>

<h4>ToDoTask</h4>
<div>
    <div>
        <form class="form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.CreatedById" class="control-label"></label>
                <select asp-for="Assignment.CreatedById" class="form-control form-select">
                    @foreach (var person in ViewBag.People)
                    {
                        <option class="2" value="@person.Id">@person.Name</option>
                    }
                </select>
                <span asp-validation-for="Assignment.CreatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.AssignedToId" class="control-label"></label>
                <select asp-for="Assignment.AssignedToId" class="form-control">
                    @foreach (var person in ViewBag.People)
                    {
                        <option value="@person.Id">@person.Name</option>
                    }
                </select>
                <span asp-validation-for="Assignment.AssignedToId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="a" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
