@model ToDoTaskSolution.Entities.Todotask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4 class="h4">ToDoTask</h4>
    <dl class="dl">
        <dt class = "dt">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "dd">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "dt">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "dd">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "dt">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "dd">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "dt">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "dd">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="dt">
            @Html.DisplayNameFor(model => model.Assignment.CreatedBy.Name)
        </dt>
        <dd class="dd">
            @Html.DisplayFor(model => model.Assignment.CreatedBy.Name)
        </dd>
        <dt class="dt">
            @Html.DisplayNameFor(model => model.Assignment.AssignedTo.Name)
        </dt>
        <dd class="dd">
            @Html.DisplayFor(model => model.Assignment.AssignedTo.Name)
        </dd>
        <dt class = "dt">
            @Html.DisplayNameFor(model => model.Done)
        </dt>
        <dd class = "dd">
            @Html.DisplayFor(model => model.Done)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a class="a" asp-action="Index">Back to List</a>
</div>
