@model ToDoTaskSolution.Entities.TaskPersonDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Task</h1>

<h4>ToDoTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label hidden asp-for="Id" class="control-label"></label>
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.CreatedById" class="control-label"></label>
                <select asp-for="Assignment.CreatedById" multiple class="form-control">
                    @foreach (var person in Model.People)
                    {
                        <option value="@person.Id">@person.Name</option>
                    }
                </select>
                <span asp-validation-for="Assignment.CreatedById" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="Assignment.AssignedToId" class="control-label"></label>
                <select asp-for="Assignment.AssignedToId" multiple class="form-control">
                    @foreach (var person in Model.People)
                    {
                        <option value="@person.Id">@person.Name</option>
                    }
                </select>
                <span asp-validation-for="Assignment.AssignedToId" class="text-danger"></span>
                
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Done" /> @Html.DisplayNameFor(model => model.Done)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
