@using ToDoTaskSolution.Entities
@model IEnumerable<Todotask>

<div class="text-container">
    <h1> To Do List</h1>
    <a asp-action="Create" role="button" class="btn btn-create">Create New Task</a>
</div>
<div class="table-container">
    <table class="table">
        <thead class="thead">
            <tr class="tr">
                <th class="th">
                    @Html.DisplayNameFor(model => model.Id)
                </th>

                <th class="th">
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th class="th">
                    @Html.DisplayNameFor(model => model.Date)
                </th>

                <th class="th">
                    Created By
                </th>

                <th class="th">
                    Assigned To
                </th>

                <th class="th">
                    @Html.DisplayNameFor(model => model.Done)
                </th>
                <th class="th">Options</th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var task in Model)
            {
                <tr class="tr">
                    <td class="td"> @task.Id</td>
                    <td class="td"> @task.Name</td>
                    <td class="td"> @task.Date.ToString("d")</td>
                    <td class="td"><a class="a" asp-action="Details" asp-route-id="@task.Assignment.CreatedBy.Id" asp-controller="Person"> @task.Assignment.CreatedBy.Name</a></td>
                    <td class="td"><a class="a" asp-action="Details" asp-route-id="@task.Assignment.AssignedTo.Id" asp-controller="Person"> @task.Assignment.AssignedTo.Name</a></td>
                    <td class="td"> @task.Done</td>
                    <td class="td td-details">
                        <a asp-action="Edit" asp-route-id="@task.Id" role="button" class="btn btn-light">Edit</a>
                        <a asp-action="Details" asp-route-id="@task.Id" role="button" class="btn btn-light">Details</a>
                        <a asp-action="Delete" asp-route-id="@task.Id" role="button" class="btn btn-delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (TempData["ErrorNoTasks"] != null)
    {
        <span class="error-msg">@TempData["ErrorNoTasks"]</span>
    }

</div>